@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron bg-cover text-white" style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url(https://live.staticflickr.com/1980/30593993007_ecff488335_b.jpg)">
    <div class="container h-50">
        <h1> Sacred Meeting Planner </h1>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to the Sacred Meeting Planner</h2>
        <p>
            Create, handle, and store all your meeting plans in one place.
        </p>
    </div>
</div>